<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Practice Vue.js</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="index.js" defer></script>

  <style>
    .ecoFriendly {
      color: green;
      transition: color 1s ease;
    }
  </style>
  
</head>
<body>
  <h1>Hello from HTML!</h1>
  <div id="app">
    <p>{{ message }}</p>
    <h6>{{ name }}</h6>
    <p><button v-on:click="changeMessage()">Click Me</button></p>

    <hr>

    <p>Here is the message<input type="text" v-model="message"></p>

    <hr>

    <!-- v-if -->
    <p v-if="showInfo">Here is some interesting information</p>
    <button v-on:click="toggleInfo()">Toggle the info</button>

    <hr>
    <!-- v-bind:class -->
    <p v-bind:class="{ecoFriendly: isEcoFriendly}">This is a public service announcement</p>

    <button v-on:click="toggleEcoFriendly()">Make eco friendly</button>

    <hr>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- {{ fruits }} -->

    <p>Enter a new fruit here: <input type="text" v-model="newFruit"> <button v-on:click="addFruit()">Add Fruit</button></p>
    <!-- fruits.each do |fruit| -->
    <div v-for="fruit in fruits">
      <p>{{ fruit }}</p>
    </div>
  </div>
</body>
</html>
